


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<!--to ensure proper rendering and touch zooming om mobiles/tabs  -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var swtxt = "OFF";
    var swlink="/switch"
    var sw = 0;
    $("#switch").text(swtxt);
    $("#switch").click(function(){
        // flip switch
        sw = sw ? 0 : 1
        swtxt = sw ? 'ON' : 'OFF'
        // update button label
        $("#switch").text(swtxt);
        $.post("/switch",{swval:sw});
    });
    $("#toggle-two").change(function(){
    	// flip switch
    	sw = sw ? 0 : 1;
    	$.post("/switch",{swval:sw});
    });
});
</script>

<script>
		$(function() {
			$('#toggle-two').bootstrapToggle({
			      on: 'Reading  ',
			      off: 'Disabled  '
			});
		});
</script>

</head>
<body>

<div class="container">
	<div class="row">
		

	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="text-align: center;">
		<!--
			<button id="switch" class="btn btn-default btn-info btn-lg"><font size=7>READY</font></button>
		-->
		</div>
		<div class="col-sm-4" style="text-align: center;">
			<input type="checkbox" id="toggle-two" data-width="100" data-height="50">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12"></div>
	</div>
</div>

</body>
</html>

